* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: hsla(0, 3%, 22%, 0.5);
}

#uiKalkulator {
    /* height: 97.4svh; */
    width: 98.6svw;

    /* border-width: 10px;
    border-style: solid;
    border-color: black; */

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

.kotak {
    margin: 12px;
}

#inputSoal {
    width: 20svw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#outputSoal {
    width: 20svw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#buttons>button {
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    margin: 1px;
}
.mc{
    color: red;
    background-color: blue;
}
.dv{
    color: blue;
    background-color: red;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(8, 52px);
    margin-bottom: 1vh;
}

#hapusKiri {
    background-color: hsla(0, 89%, 57%, 0.921);
}

#hapusKiri:hover {
    background-color: hsla(0, 66%, 50%, 0.826);
}

#clear {
    background-color: hsla(60, 89%, 57%, 0.921);
}

#clear:hover {
    background-color: hsla(60, 66%, 50%, 0.719);
}

#submit {
    background-color: hsla(84, 89%, 57%, 0.921);
}

#submit:hover {
    background-color: hsla(84, 66%, 50%, 0.719);
}
#display{
    background-color: hsla(186, 90%, 58%, 0.921);
}

#display:hover{
    background-color: hsla(186, 66%, 50%, 0.921);
}
#trues{
    background-color: hsla(288, 91%, 56%, 0.921);
}
#trues:hover{
    background-color: hsla(288, 66%, 50%, 0.921);
}

#biimplikasi,
#negasi,
#disjungsi,
#konjungsi,
#implikasi,
#varP,
#varQ,
#var1,
#var0,
#kurungBuka,
#kurungTutup{
    background-color: aliceblue;
}

#biimplikasi:hover,
#negasi:hover,
#disjungsi:hover,
#konjungsi:hover,
#implikasi:hover,
#varP:hover,
#varQ:hover,
#var1:hover,
#var0:hover,
#kurungBuka:hover,
#kurungTutup:hover{
    background-color: hsla(208, 32%, 85%, 0.856);
}

#outputsTable {
    width: 90vw;
    height: 87vh;

    display: none;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */

}

#messages {
    background-color: red;
    width: 15vw;
    height: 78vh;    
    margin: 6px;
}

#tabelKebenaran {
    background-color: green;
    width: 82svw;
    height: 78svh;
    overflow-x:auto;
    margin: 6px;
}
table{
    width: 97%;
    margin: 12px;

    border-collapse: collapse;
    border: 2px;
    border-color: wheat;
    border-style: solid;
    vertical-align:middle;
    text-align: center;

    justify-content: center;
    align-items: center;
}
tr{
 border: 2px solid;
 border-color: blueviolet;
 vertical-align:middle;
text-align: center;
}

th{
    border: 2px solid;
    border-color: blueviolet;
    vertical-align:middle;
   text-align: center;
   padding: 10px;
}

td{
    border: 2px solid;
    border-color: blueviolet;
    vertical-align:middle;
   text-align: center;
   padding: 3px;
}
.empty-cell{
    background-color: black;
    color: white;
}
